.FormSubmit {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.LabelCss {
  font-size: 15px;
  font-weight: bold;
}
.InputDiv {
  margin: 10px;
}

input {
  width: 100%;
  padding: 8px 7px;
  border: 2px solid #4a5568;
  background-color: #2d3748;
  color: white;
  margin: 5px 0px;
  outline: none;
  border-radius: 10px;
}

input::placeholder {
  color: white;
  font-style: italic; /* Yazı stilini değiştirin (isteğe bağlı) */
}

.btnCss {
  width: 100%;
  border: 1px solid green;
  background-color: green;
  border-radius: 10px;
  color: white;
  margin-top: 10px;
  font-size: 15px;
  padding: 8px 8px;
  margin: 16 px 0px;
  cursor: pointer;
  font-weight: bold;
}
input:focus {
  border-color: lightblue;
}
